/* Changes to default bootstrap style: */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.jumbotron {
  padding: 20px 30px;
}

.jumbotron h1 {
  text-align: center;
  font-size: 54px;
}

/* On smaller screens, remove sidebar*/
@media (max-width: 991px) {
    .jumbotron h1 {
        font-size: 40px;
    }
}

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 30px;
}

/* The sidebar menu */
.nav-sidebar {
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background-color: #eee;
    overflow-x: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 15px;
}

.nav-sidebar > div > a:hover {
    color: #064579;
}

/* The navigation menu links */
.nav-sidebar > div > a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F3;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.nav-sidebar > div > a:hover {
    color: #064579;
}

/* On middle screens, make sidebar smaller*/
@media (max-width: 1199px) {
    .nav-sidebar > div > a {
       font-size: 14px;
    }
}

/* On smaller screens, make sidebar even smaller*/
@media (max-width: 991px) {
    .nav-sidebar > div > a {
       font-size: 10px;
    }
}

/* On even smaller screens, remove sidebar*/
@media (max-width: 767px) {
    .nav-sidebar {
        display: none;
    }
}

.anchored {
  padding-top: 40px;
}

/* type name at header positions */
.typeheader {
  font-size: 18px;
}

/* module export at header positions */
.moduleexport {
  font-size: 18px;
}

/* class signature at header positions */
.classheader {
  font-size: 18px;
}

/* class signature at header positions */
.functionheader {
  font-size: 18px;
}

.classfunctionheader {
  font-size: 16px;
}

/* function name in the documentation of a exported functions */
.opname {
  font-weight: bold;
}

/* style for constructor comments" */
.conscomment {
  padding: 5px 0px 0px 20px;
}

/* style for explanation categories like "Constructors:" */
.explaincat {
  font-style: italic;
}

.indent1 {
  text-indent: 12px;
}

.indent2 {
  text-indent: 24px;
}

.indent3 {
  text-indent: 36px;
}

.indent4 {
  text-indent: 48px;
}

code {
  color:black;
  background-color: #f0f0f0
}
